In [2]:
3 + 4

7

* Use asterisks
* to create
* bullet points

# A level-1 heading

### A level-3 heading

1. First thing
2. Second thing

This is a little paragraph.

$\mu$

In [6]:
age = 42

In [4]:
age

42

In [7]:
first_name = 'Alred'

In [8]:
age

42

In [9]:
first_name
age

42

In [10]:
print(age)

42

In [11]:
print(age)
print(first_name)

42
Alred

In [12]:
print(first_name, 'is', age, 'years old')

Alred is 42 years old

In [13]:
print(last_name)

NameError: name 'last_name' is not defined

In [14]:
print()

In [15]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [16]:
print(first_name)

Alred

In [17]:
age

42

In [18]:
type(age)

int

In [19]:
type(first_name)

str

In [20]:
age + 10

52

In [21]:
first_name + 'stuff'

'Alredstuff'

In [22]:
first_name + 10

TypeError: must be str, not int

In [23]:
10 * 2

20

In [24]:
10 / 3

3.3333333333333335

In [25]:
10 // 3

3

In [26]:
10 / 3.0

3.3333333333333335

In [27]:
10 / 2.0

5.0

In [28]:
element = 'helium'

In [29]:
element[0]

'h'

In [30]:
element[-1]

'm'

In [31]:
element[1:3]

'el'

In [32]:
element[:2]

'he'

In [33]:
element[-3:]

'ium'

In [34]:
len(element)

6

In [35]:
print(len(element))

6

In [36]:
pressures = [0.273, 0.275, 0.277]

In [37]:
print(len(pressures), pressures[0])

3 0.273

In [38]:
pressures[0] = 0.297

In [39]:
pressures

[0.297, 0.275, 0.277]

In [40]:
element

'helium'

In [41]:
element[0] = 'c'

TypeError: 'str' object does not support item assignment

In [42]:
list('element')

['e', 'l', 'e', 'm', 'e', 'n', 't']

In [43]:
''.join(list(element))

'helium'

In [44]:
primes = [2, 3, 5]
primes.append(7)
primes

[2, 3, 5, 7]

In [45]:
primes.append(9)

In [46]:
primes

[2, 3, 5, 7, 9]

In [47]:
del primes[4]

In [48]:
primes

[2, 3, 5, 7]

In [49]:
primes.remove(5)

In [50]:
primes

[2, 3, 7]

In [51]:
primes.pop()

7

In [52]:
primes

[2, 3]

In [53]:
primes = [2, 3, 'frozen', 'chocolate', 'banana']

values = _____
values.____(1)
values.____(3)
values.____(5)
print('first time:', values)
values = values[___]
print('second time:', values)

---
first time: [1, 3, 5]
second time: [3, 5]

In [56]:
values = []
values.append(1)
values.append(3)
values.append(5)
print('first time:', values)
values = values[1:]
print('second time:', values)

#---
#first time: [1, 3, 5]
#second time: [3, 5]

first time: [1, 3, 5]
second time: [3, 5]

# Control Flow

In [57]:
for number in [1, 2, 5]:
    print(number)

1
2
5

In [58]:
for number in [1, 2, 5]:
print(number)

IndentationError: expected an indented block (<ipython-input-58-38faf904731b>, line 2)

In [59]:
for number in range(0, 3):
    print(number)

0
1
2

In [63]:
myrange = range(1, 10)
myrange[5]

6

In [61]:
myrange[0]

0

In [62]:
myrange[10]

IndexError: range object index out of range

In [65]:
masses = [3.54, 2.07, 9.22]
for mass in masses:
    if mass > 3.0:
        print(mass, 'is large')

3.54 is large
9.22 is large

In [66]:
for mass in masses:
    if mass > 3.0:
        print(mass, 'is large')
    else:
        print(mass, 'is small')

3.54 is large
2.07 is small
9.22 is large

In [67]:
for mass in masses:
    if mass > 9.0:
        print(mass, 'is very large')
    elif mass > 3.0:
        print(mass, 'is large')
    else:
        print(mass, 'is small')

3.54 is large
2.07 is small
9.22 is very large

In [70]:
for mass in masses:
    print('processing', mass)
    if mass > 3.0:
        print(mass, 'is large')
    elif mass > 9.0:
        print(mass, 'is very large')

processing 3.54
3.54 is large
processing 2.07
processing 9.22
9.22 is large

In [71]:
mass > 3.0

True

In [72]:
values = mass > 3.0

In [73]:
values

True

In [74]:
masses

[3.54, 2.07, 9.22]

In [75]:
velocities = [10, 20, 25]

In [76]:
for i in range(len(masses)):
    if masses[i] > 3 and velocities[i] > 20:
        print('high mass and velocity index found')

high mass and velocity index found

In [77]:
True and True

True

In [78]:
True and False

False

In [79]:
bool(True)

True

In [80]:
age

42

In [81]:
bool(age)

True

In [82]:
bool('alfred')

True

In [83]:
bool('')

False

In [84]:
bool([1,2,3])

True

In [85]:
bool([])

False

In [86]:
bool(0)

False

In [87]:
bool(32)

True

In [88]:
mylist = []
if mylist:
    print('not empty')

In [90]:
mylist = []
if len(mylist) != 0:
    print('not empty')

In [91]:
3 > 2

True

In [92]:
3 > 3

False

In [93]:
3 >= 3

True

In [94]:
3 < 3

False

In [95]:
3 <= 3

True

In [96]:
3 == 3

True

In [97]:
3 != 3

False

In [98]:
(3 > 2) and (2 > 10)

False

In [99]:
(3 > 2) or (2 > 10)

True

In [100]:
(3 > 2) and not (2 > 10)

True

In [101]:
value = True

In [102]:
value is True

True

In [103]:
value == True

True

In [104]:
None

In [105]:
value = print('hello')

hello

In [106]:
value

In [107]:
value is None

True

In [108]:
# Ex1: total length of the strings in the list => 12
total = 0
for word in ['red', 'green', 'blue']:
    total = total + len(word)
print(total)

12

In [109]:
# Ex1: total length of the strings in the list => 12
total = 0
for word in ['red', 'green', 'blue']:
    total += len(word)
print(total)

12

In [111]:
# Ex2: List of word lengths  => [3, 5, 4]
lengths = []
for word in ['red', 'green', 'blue']:
    lengths.append(len(word))
    print(lengths)
print(lengths)

[3]
[3, 5]
[3, 5, 4]
[3, 5, 4]

In [112]:
lengths = [len(word) for word in ['red', 'green', 'blue']]
lengths

[3, 5, 4]

In [113]:
sum([len(word) for word in ['red', 'green', 'blue']])

12

In [114]:
words = ['red', 'green', 'blue']

In [115]:
sum(len(word) for word in words if len(word) > 3)

9

In [116]:
x = 15
while x > 0:
    print(x)
    x = x - 5

15
10
5

In [118]:
import math

math.pi

3.141592653589793

In [119]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.6/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(...)
        acos(x)

        Return the arc cosine (measured in radians) of x.

    acosh(...)
        acosh(x)

        Return the inverse hyperbolic cosine of x.

    asin(...)
        asin(x)

        Return the arc sine (measured in radians) of x.

    asinh(...)
        asinh(x)

        Return the inverse hyperbolic sine of x.

    atan(...)
        atan(x)

        Return the arc tangent (measured in radians) of x.

    atan2(...)
        atan2(y, x)

        Return the arc tangent (measured in radians) of y/x.
        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(...)
        atanh(x)

        Return the inverse hyperbolic tangent of x.

    ceil(...)
        ceil(x)

        Return the ceiling of x as an Integral.
        This is the smallest integer >= x.

    copysign(...)
        copysign(x, y)

        Return a float with the magnitude (absolute value) of x but the sign
        of y. On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(...)
        cos(x)

        Return the cosine of x (measured in radians).

    cosh(...)
        cosh(x)

        Return the hyperbolic cosine of x.

    degrees(...)
        degrees(x)

        Convert angle x from radians to degrees.

    erf(...)
        erf(x)

        Error function at x.

    erfc(...)
        erfc(x)

        Complementary error function at x.

    exp(...)
        exp(x)

        Return e raised to the power of x.

    expm1(...)
        expm1(x)

        Return exp(x)-1.
        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(...)
        fabs(x)

        Return the absolute value of the float x.

    factorial(...)
        factorial(x) -> Integral

        Find x!. Raise a ValueError if x is negative or non-integral.

    floor(...)
        floor(x)

        Return the floor of x as an Integral.
        This is the largest integer <= x.

    fmod(...)
        fmod(x, y)

        Return fmod(x, y), according to platform C.  x % y may differ.

    frexp(...)
        frexp(x)

        Return the mantissa and exponent of x, as pair (m, e).
        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(...)
        fsum(iterable)

        Return an accurate floating point sum of values in the iterable.
        Assumes IEEE-754 floating point arithmetic.

    gamma(...)
        gamma(x)

        Gamma function at x.

    gcd(...)
        gcd(x, y) -> int
        greatest common divisor of x and y

    hypot(...)
        hypot(x, y)

        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(...)
        isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0) -> bool

        Determine whether two floating point numbers are close in value.

           rel_tol
               maximum difference for being considered "close", relative to the
               magnitude of the input values
            abs_tol
               maximum difference for being considered "close", regardless of the
               magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(...)
        isfinite(x) -> bool

        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(...)
        isinf(x) -> bool

        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(...)
        isnan(x) -> bool

        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(...)
        ldexp(x, i)

        Return x * (2**i).

    lgamma(...)
        lgamma(x)

        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x[, base])

        Return the logarithm of x to the given base.
        If the base not specified, returns the natural logarithm (base e) of x.

    log10(...)
        log10(x)

        Return the base 10 logarithm of x.

    log1p(...)
        log1p(x)

        Return the natural logarithm of 1+x (base e).
        The result is computed in a way which is accurate for x near zero.

    log2(...)
        log2(x)

        Return the base 2 logarithm of x.

    modf(...)
        modf(x)

        Return the fractional and integer parts of x.  Both results carry the sign
        of x and are floats.

    pow(...)
        pow(x, y)

        Return x**y (x to the power of y).

    radians(...)
        radians(x)

        Convert angle x from degrees to radians.

    sin(...)
        sin(x)

        Return the sine of x (measured in radians).

    sinh(...)
        sinh(x)

        Return the hyperbolic sine of x.

    sqrt(...)
        sqrt(x)

        Return the square root of x.

    tan(...)
        tan(x)

        Return the tangent of x (measured in radians).

    tanh(...)
        tanh(x)

        Return the hyperbolic tangent of x.

    trunc(...)
        trunc(x:Real) -> Integral

        Truncates x to the nearest Integral toward 0. Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /Users/dwinston/miniconda3/envs/swc/lib/python3.6/lib-dynload/math.cpython-36m-darwin.so

In [120]:
math?

In [121]:
from math import pi

pi

3.141592653589793

# Functions

In [122]:
def print_greeting():
    print('Hello!')

In [123]:
print_greeting()

Hello!

In [124]:
def print_date(year, month, day):
    joined = str(year) + '/' + str(month) + '/' + str(day)
    print(joined)

In [125]:
print_date(1871, 3, 10)

1871/3/10

In [126]:
def average(values):
    if len(values) == 0:
        return None
    return sum(values) / len(values)

In [128]:
a = average([1, 3, 4])
print(a)

2.6666666666666665

In [129]:
def my_sum(values, scale=1):
    return sum(value * scale for value in values)

In [130]:
sum([1,2,3])

6

In [131]:
my_sum([1, 2, 3])

6

In [132]:
my_sum([1, 2 ,3], 2)

12

In [133]:
my_sum([1, 2, 3], scale=2)

12

In [134]:
my_sum(scale=2, values=[1,2,3])

12

In [137]:
def first_negative(values):
    """Returns the first negative value in a list.
    
    values: a list of numbers
    """
    for v in values:
        if v < 0:
            return v

In [138]:
first_negative([3,4,-3,2,0,-2])

-3

In [139]:
primes = {2, 3, 5, 7}

In [140]:
3 in primes

True

In [141]:
9 in primes

False

In [142]:
primes.add(9)

In [143]:
primes

{2, 3, 5, 7, 9}

In [144]:
primes.discard(9)

In [145]:
primes

{2, 3, 5, 7}

In [146]:
{2, 3} | {4, 5}

{2, 3, 4, 5}

In [147]:
weights = {'H': 1.0079, 'C': 12.0107, 'N': 14.0067,
           'O': 15.9994, 'P': 30.9738, 'S': 32.065}

In [148]:
weights['H']

1.0079

In [149]:
methane = {'C': 1, 'H': 4}

In [147]:
weights = {'H': 1.0079, 'C': 12.0107, 'N': 14.0067,
           'O': 15.9994, 'P': 30.9738, 'S': 32.065}

In [150]:
for atom, number in methane.items():
    print(atom, number)

C 1
H 4

In [151]:
def mol_weight(weight_dict, mol):
    """Returns the molecular weight of molecule.
    
    mol: dictionary of atoms and counts
    weight_dict: dictionary of atomic weights
    """
    weight = 0
    for atom, number in mol.items():
        weight = weight + (weight_dict[atom] * number)
    return weight

In [152]:
mol_weight(weights, methane)

16.0423